venv/
celerybeat-schedule
.idea/
__pycache__
*.pyc
*.py[cod]
*$py.class
wallet/settings_local.py
wallet/test_local.py
*.swp
.DS_Store
docker-compose-local.yml
static_publish
*.csv
media/
tags
test_local/

